files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            # prod yml 파일 참고, utf-8로 인코딩, 해당 결로의 jar 파일 실행
            java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $JAR_PATH